<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
<body>
    <nav class="navbar">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('all_blogs') }}">All Blogs</a>
    <a href="{{ url_for('add') }}">Add New Blog</a>
    </nav>

    <nav class="navbar">
            <div style='float: right'>
            <a href="{{ url_for('login')}}">Login</a> 
                
            <a href="{{ url_for('logout')}}">Logout</a>
        
    </nav>

   
{% block content %}

<h1>Users</h1>

{% if users|length == 0 %}
<p>No Users yet</p>
{% else %}

    {% for user in users %}

    <a href="{{ url_for('show_all_users') }}">
                <h2 class="user-username">
                  {{ User.username }}</h2></a>
    {% endfor %}
    </ul>

{% endif %}

{% endblock %}
