<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
<body>
    <nav class="navbar">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('all_blogs') }}">All Blogs</a>
    <a href="{{ url_for('add') }}">Add New Blog</a>
    </nav>

    <nav class="navbar">
            <div style='float: right'>
            <a href="{{ url_for('login')}}">Login</a> 
                    {% if 'user' in session %}
                      {{ session['user'] }}
                    {% endif %}
            <a href="{{ url_for('logout')}}">Logout</a>
        
    </nav>

 