{% extends "base.html" %}

{% block content %}
    <h1>Add New Blog</h1>
    <form name="addPost" id="addPost" action="{{ url_for('add_new_post') }}" method="post">
            <div>
              <label><strong>Title:</strong></label>
            </br>
              <input type="text" class="form-control" placeholder="Blog Title" name="blogtitle" id="blogtitle" 
                    required data-validation-required-message="Please enter a title.">
            </div>
        </br>
            <div>
              <label><strong>Post:</strong></label>
            </br>
              <textarea rows="5" class="form-control" placeholder="Type your blog here." name="content" id="content" 
                    required data-validation-required-message="Please enter a message."></textarea>
            </div>
        
            <div class="">
              <input class="button" type="submit" value="Add New Post">
            </div>
        </form>
      <br>
      <br>
    

    <hr>
  
    <hr />


  
{% endblock %}


    