{ % extends "base.html" % }

{ % block content % }
<form action="/signup">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" min="3" max="15" required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" min="3" max="15" required>
  
      <label for="password_match"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="password_match" required>
  
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>

  { % endblock % }
  